*{
   margin: 0;
   padding: 0;
}
.header
{
   height: 100vh;
 
}
.navbar-style
{
  box-shadow: 0 5px 10px #ae98d9;
}
.logo
{
   height: 47px;
   padding: 3px 16px;
}
.textsize
{
   font-size:60px;
   margin: 18px 0;
   color: purple;
}
